::-moz-selection { background: springgreen; color: black }
   ::selection { background: springgreen; color: black }

:root {
--nite: #111;
--lite: #efefef;
}

@supports (--live:1) {
 :root {
    background: var(--nite);
    color: var(--lite);
 }
}

html {
  background: #111;
  color: #efefef;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.4;
  padding: 2em;
  max-width: 960px;
}

img, svg { max-width: 100%; height: auto }
:link, :visited { background-color: inherit; color: inherit }
:focus { outline-color: currentColor }

.case-lower { text-transform: lowercase }
.case-upper { text-transform: uppercase }
.decor-none { text-decoration: none }
.m-auto { margin: auto }
.m-1up { margin-top: 1rem }
.m-1down { margin-bottom: 1rem }
.m-2down { margin-bottom: 2rem }
